.container-canvas{
  /*  width: calc((95vw / 12)*6);
    height: 50vh;
        transform: translateY(-20%);*/
    position: absolute;
        
    top: 0;
    left: 0;

    height: 80vh;
    width: 100%;
    pointer-events: auto;
    /*background: red;
   z-index: 400;*/
}


.ref-container-size{
    width: calc((95vw / 12)*6);
    background-color: aqua;
}
.ref-img-size{
  visibility: hidden;
    position: absolute;
    z-index: -1;
    width: calc((95vw / 12) * 6);

}
