.bodyMobile{
    font-size: 1.4rem;
    

    position: relative;
    overflow: hidden;
        font-family: 'Poppins', sans-serif;
}
.bodyMobile a{
 color: black;

}
.bodyMobile footer{
    margin-top: 2.5rem;
    margin-right: 2.5rem;
}
.bodyMobile header{
    margin-block: 1.5rem;
    margin-left: 2.5rem;

}
.bodyMobile section{
    width: calc(100vw - 5rem);
    margin-left: 2.5rem;
}
.bodyMobile img{
    width: calc(100vw - 5rem);
    height: 20vh;
    object-fit: cover;
    margin-top: 1.5rem;
}
.bodyMobile section .ntarget{
    font-weight: 200;
    margin-top: 1rem;
}
.bodyMobile section  .target{
  font-weight: 600;
}
.bodyMobile footer p{
    margin-left: 2.5rem;
        font-size: 1.1rem;
}
.bodyMobile footer ul{
      transform: translateY(-1.1rem);
      font-size: 1.1rem;
}