.bodyMobile{
    font-size: 1.4rem;
    
    width: 100vw;
    position: relative;
    overflow: hidden;
        font-family: 'Poppins', sans-serif;
}
.bodyMobile a{
 color: black;

}
.bodyMobile footer{
    margin-top: 2.5rem;
    margin-right: 2.5rem;
}
.bodyMobile header{
    margin-top: 2.5rem;
    margin-left: 2.5rem;
}
.bodyMobile section{
    width: calc(100vw - 5rem);
    margin-top: 2.5rem;
    margin-left: 2.5rem;

}
.bodyMobile img{
    width: calc(100vw - 5rem);
    height: 40vh;
    object-fit: cover;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem
}
.bodyMobile section p{
    margin-top: 5vh;
    font-weight: 600;
}
.bodyMobile footer p{
    margin-left: 2.5rem;
    transform: translateY(1.4rem);
}