
.contact-container{
    margin-top: 10vh;
    padding-inline: 2.5vw;
    width: 95vw;
    display : flex;
    justify-content : space-between;
    font-family: var(--font-poppins), sans-serif;
}

.contact-image{
    width: calc((95vw / 12)*6);
    height: 50vh;
    background: black;
    position: relative;
}
.contact-content{
    width: calc((95vw / 12)*4.5);
}
.contact-content h3{
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;
}
.contact-content p{
    margin-top: 1.5vh;
}
.contact-content a{
    color: black;
        margin-top: 1.5vh;
        display: inline-block;
}