.contact-content h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: bold;
}
.contact-container{

    padding-inline: 2.5vw;
    width: 95vw;

    font-family: var(--font-poppins), sans-serif;
}
.contact-content p{
    margin-top: 1.5vh;
}
.contact-content a{
    color: black;
        margin-top: 1.5vh;
        display: inline-block;
        margin-bottom: 5vh;
}
.contact-image{
    width: calc((95vw / 12)*12);
    height: 30vh;
    background: black;
    position: relative;
}

@media (min-width: 768px){
.contact-container{
    margin-top: 10vh;
    display : flex;
    justify-content : space-between;
    font-family: var(--font-poppins), sans-serif;
}
.contact-content h3{
    font-size: 3rem;
}
.contact-image{
    width: calc((95vw / 12)*6);
    height: 50vh;
}


.contact-content{
    width: calc((95vw / 12)*4.5);
    
}
.contact-content h3{
   /* font-size: 3rem; */
}


}