.project-container{
        display: none;   
}

.landing-container{
    position: relative;
    height: 70svh;
    align-items: flex-end;
    margin-top: 0;

}
.project-number{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2.5vw;
}

.project-number .line{
    content: " ";
    height: 7.5vh;
    margin-block: 1rem;
    width: 1px;
    background: black;
    margin-inline: auto;
}
.projet-title{
    width: calc((95vw / 12)*5);
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    text-wrap-mode: nowrap;
  }
  .all-projects-titles-container{
    height: 2rem;
    width: calc((95vw / 12) * 5);
    overflow: hidden;
  }
.projet-image{
    width: calc((95vw / 12)*10);
    height: 50svh;
    position: relative;
    bottom: 0;
    transform: translateY(-1%);
}
.projet-image img{
    bottom: 0 !important;
    top: unset !important;
  /*  visibility: none; */
}
#number-project{
    height: 1rem;
    overflow: hidden;
}
#cachecache{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 5;
    top : 18vh;
    background-color: #ffffff;
    left: 0;
}

.triangle-container{
    position: relative;
    width: 1rem;
        transform: translateX(2px);
}
.triangle-hide{
width: 15px;
    height: 15px;
    background: white;
    transform: translateY(4px) rotate(45deg);
    z-index: 10;
    position: relative;
}
.triangle-true{
    width: 15px;
    height: 15px;
    background: black;
    transform: translateY(-10px) rotate(45deg);
}

.triangle-container-top{
    position: relative;
    width: 1rem;
        transform: translateX(2px);
}
.triangle-hide-top{
    width: 15px;
    height: 15px;
    background: white;
    transform: translateY(-4px) rotate(45deg);
    z-index: 10;
    position: relative;
}
.triangle-true-top{
    width: 15px;
    height: 15px;
    background: black;
    transform: translateY(10px) rotate(45deg);
}

.project-btn{
    width: fit-content;
    padding: 8px 24px;
    border: 1px solid black;
    color: black;
    text-decoration: none;
}
.project-caption{
    margin-block: 1rem;
}

@media (min-width: 768px){
    .projet-image{
            width: calc((95vw / 12)*6);
    }
    .projet-image img{
        height: auto !important;
    }
    .landing-container{
        align-items: center;
    }
    .project-caption{
        width: calc((95vw / 12) * 4);
    }
    .page-info-container{
        position: relative;
        width: calc((95vw / 12) * 5);
    }
   .project-number{
    left: unset;
    right: 0;
   }


}
@media (max-width: 768px){
    .projet-image{
        position: absolute;
        right: 2.5vw;
        top: 0 !important;
      

    }
    .all-projects-titles-container{
       /* transform: translateY(2.5svh); */ 
    }
    .landing-container{
        flex-direction: column-reverse;
        height: 80svh;
    }
    .all-projects-titles-container,  .projet-title {
        width: 95vw;
    }
    .projet-title{
        font-size: 1.8rem;
    }
   
    .page-info-container{
        background-color: white;
    }
}