.labs-project{
    margin-top: 10vh;
    padding-inline: 2.5vw;
    width: 95vw;
    display : flex;
    justify-content : space-between;
    font-family: var(--font-poppins), sans-serif;
}
.labs-project-title{
     font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom : 1.2rem;
}
.labs-project-content{
     width: calc((95vw / 12)*4.5);
}
.labs-project-preview video{
    border: 1px solid black;
}