.menu-mobil{
   position: absolute;
   z-index: 99;
    width: 100vw;
    height: 100vh;
    top: -100vh;
    left: 0;
    background-color: rgb(11, 11, 11);
    
}
.menu-mobil > ul{
   position: absolute;
    top: 50vh;
    transform: translateY(-50%);
    width: 95vw;
    padding-inline: 2.5vw;
    display: flex
;
    flex-direction: column;
    gap: 5vh;
    font-size: 2rem;
    text-transform: uppercase;
}
.menu-mobil > ul .fere{
align-self: end;
}
.menu-mobil > footer{
          padding-inline: 2.5vw;
}
#menu-mobil ul a, #menu-mobil footer a{
    color: white;
}
#menu-mobil .link-ext-mobil{
    position: absolute;
    bottom: 5vh;
    right: 2.5vw;
        width: 95vw;
    display: flex
;
    justify-content: space-between;
}
.nav-sub-one{
    z-index: 100;
}

.nav{
    display: flex;
    padding-inline : 2.5vw;
    justify-content: space-between;
    padding-block: 5vh;
    font-family: 'Poppins', sans-serif;

}

/* Sub Container */
.nav-sub{
    display: flex;
    justify-content: space-between;
}

.nav-sub-one{
    width: calc((95vw / 12)*12);
}

.nav-sub-two{
    width: calc((95vw / 12)*6);
}

/* All */
.nav-sub h2{
    text-transform: uppercase;
}
.nav-sub nav ul, .link-ext{
    text-align: right;
    display: flex
;
    flex-direction: column;
    gap: 4px;
}

.nav a{
    color: black;
    text-decoration: none;
}
.spe{
        text-transform: uppercase;
    margin-top: 0.2rem;

}
.nav-sub > *{
    height: fit-content;

}

.hover-link {
    height: fit-content;
    width: fit-content;
    display: inline-block;
    overflow: hidden;
}
.pre{overflow: hidden;}
.scondmenuanim{
    display: inline-block;
}
@media (min-width: 768px){
.nav-sub-one{
    width: calc((95vw / 12)*5);
}

}

@media(max-width: 768px){
   .whited-mobile{
       color: white;
    }
}   